# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment
venv/

# Ignore local development files
.vscode/
*.sublime*
*.idea/

# Ignore local configuration files
.env